<!DOCTYPE html>
<html>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UpCamp</title>
        <meta charset="UTF8">
        <meta name="author" content="Edward Verameyenka">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </header>
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
        
                    <a class="navbar-brand" href="/">UpCamp</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <% if ( page !== 'undefined' && page === 'index') { %>
                    <form action="/campgrounds" method="GET" class="navbar-form navbar-left"  id="campground-search">
                        <div class="form-group">
                          <input type="text" class="form-control" name="search" placeholder="Search">
                        </div>
                    </form>
                    <% } %>
                    <% if (currentUser && currentUser.isAdmin) { %>
                    <li><a href="/admin/user">Users</a></li>
                    <% } %>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <% if(!currentUser){ %>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                               Log In<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-login">
                             <li class="dropdown-login-header">Have an account?</li>
                             <li>
                                <form action="/login" method="POST">
                                   <div class="form-group">
                                     <input type="email" class="form-control" id="emailId" name="email" placeholder="Email address">
                                   </div>
                                   <div class="form-group">
                                     <input type="password" class="form-control" name="password" id="passwordId" placeholder="Password">
                                   </div>
                                   <button type="submit" class="btn btn-primary btn-block btn-round">Log in</button>
                                 </form>
                             </li>
                             <li role="separator" class="divider"></li>
                             <li class="dropdown-login-header">New to UpCamp?</li>
                             <li>
                                <button id="btn-link-signUp" class="btn btn-primary btn-block btn-round" onclick="location.href = '/register';">Sign Up</button>
                             </li>
                            </ul>
                          </li>
                      <% } else { %>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                               <%= currentUser.username %> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                             <!--<li><a href="#">Settings</a></li>-->
                             <li><a href="/campgrounds">Camps</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a href="/logout">Logout</a></li>
                            </ul>
                          </li>
                      <% } %>
                  </ul>
                </div>
            </div>
        </nav>  
        
        <div class="container">
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
        </div>
        
        <div class="container">