<% include ../partials/header %> 

<div class="row ">
        <h1 class="text-center">Create a New Campground</h1>
        <div class="form-center">
            <form id="createForm" action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="campground[name]" id="name" placeholder="Name" required aria-describedby="helpName">
                    <span id="helpName" class="help-block hidden">Please provide name.</span>
                </div>
                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input class="form-control" type="number" name="campground[cost]" id="cost" placeholder="9.99" step="0.01" min="0" required aria-describedby="helpCost">
                    <span id="helpCost" class="help-block hidden">Please provide cost.</span>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" placeholder="Yosemite National Park, CA" required aria-describedby="helpLocation">
                    <span id="helpLocation" class="help-block hidden">Please provide Location.</span>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" type="text" rows="6" name="campground[description]" id="description" placeholder="Campground description"></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input id="image" name="file" type="file" accept="image/*" class="upload_field" style="display:none;" ></input>
                    <br>
                    <button type="button" id="select-img-btn" aria-describedby="helpImage">Select File</button>
                    <span id="helpImage" class="help-block hidden">Please upload image for campground.</span>
                </div>
                <div id="imgs-group" class="form-group">
                </div>     
                <div class="form-group">
                    <button id="submit-btn" class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>

<% include ../partials/footer %> 