/*Login form*/
.form-center{
    width:30%;
    margin: 25px auto; 
}

/*Dropdown menu header*/
.dropdown-login{
    width: 350%;
    padding: 15px ;
}

.dropdown-login-header{
    padding-bottom: 10px;
    color: #66757f;
}

.btn-round,.btn-round:active , .btn-round:focus{
    border-radius: 17px;
    outline: none !important;
}

#btn-link-signUp{
    background-color: white;
    color: #337ab7;
}