<% include ../partials/header %> 

<div class="row settings-row">
    <div cl></div>
    <h3>Account Settings</h3>
    <hr>
    
    <div class="col-md-6">
        <img src="../img/profile.png" id="settings-avatar" class="img-circle" alt="User Avatar">
        <!--<img src="http://vvcexpl.com/wordpress/wp-content/uploads/2013/09/profile-default-male.png" id="settings-avatar" class="img-circle" alt="User Avatar">-->
    </div>
    <div class="col-md-6">
        
    </div>
    
    
</div>



<% include ../partials/footer %> 